body {
  background-color: darkblue;
  color:white;
  }

* {
	font-family: "Georgia";
  }
  
  h1 {
	  text-align: center;
	  font-family: "Serif";
	  font-size: 40px;
	  
  }
  
  h3{
	  font-size: 25px;
  }
  
  p , ul{
	  color: white;
  }
	
	em{
		color: gray;
	}

	ul{
		list-style: square;
		
	}
	
	img {
		width: 50%;
		display: block;
		margin: 0 auto;
		border-radius: 10px;
	}
	
	img:hover{
		opacity: 0.5;
	}
	
	li{
		margin: 0 0 10px 0;
	}
	
	a {
		display: block;
		text-decoration: none;
	}
	
	a:link {
		color: red;
	}
	
	a:visited {
		color: red;
	}
	
	a:hover {
		color: white;
	}
	
	pre {
	  width: 300px;
	  border-style: solid;
	  padding: 10px;
	  margin: 10px 10px 10px 10px;
	  background-color: green;
	}
	
	table, th, td{
		margin: 10px 10px 10px 10px;
		border: 1px solid;
		text-align: center;
	}
	th, td{
		padding: 2px;
		
	}
	ul > li > ul > li{
		color: yellow;
		list-style: circle;
	}
	
	nav > ul > li {
		list-style: none;
		display:inline-block;
		margin: 20px;
		font-size: 25px;
	}
	
	#logo{
		opacity:1;
		width:20%;
		float:left;
	}
	
	#header-heading{
		margin-right:20%;	
	}
	

